//
// Global Breakpoints
//
// These are shared breakpoints. Don't be afraid to use
// component-specific breakpoints though...
//

$brk-s: 320px !default;
$brk-m: 480px !default;
$brk-l: 768px !default;
$brk-xl: 992px !default;
$brk-xxl: 1200px !default;
